<robot name="my_sensors" xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- 雷达 -->
  <!-- reference是指这个雷达要内置到哪个link -->
  <gazebo reference="laser"> 
    <sensor type="ray" name="rplidar">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>5.5</update_rate>
      <ray>
      <!-- 雷达采样角密度,精度,采样角度范围 -->
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1</resolution>
            <min_angle>-3</min_angle>
            <max_angle>3</max_angle>
          </horizontal>
        </scan>
        <!-- 采样距离范围和精度 -->
        <range>
          <min>0.10</min>
          <max>30.0</max>
          <resolution>0.01</resolution>
        </range>
        <!-- 高斯噪音 (用来模拟实际中的采样数据 波动)-->
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_rplidar" filename="libgazebo_ros_laser.so">
        <!-- 雷达发布消息的话题名，无需更改 -->
        <topicName>/scan</topicName>
        <!-- 参考系也要改为相应的link名 -->
        <frameName>laser</frameName>
      </plugin>
    </sensor>
  </gazebo>

</robot>
