<launch>
    <!-- 1.在参数服务器载入 urdf 文件  将后面查找的xacro文件通过前面的找的内置功能包xacro解析成urdf再导入参数服务器 -->
    <!--命令的输出将被读取并存储为字符串。由于XML转义的要求，这里需要使用单引号对文件参数进行引用。 -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find learning_urdf)/urdf/xacro/car_urdf.xacro'"/>
    <!-- 2.启动rviz 将设置保存并导入 -->
    <node pkg="rviz" type="rviz" name="rviz" args='-d $(find learning_urdf)/config/show_mycar.rviz'/>
    
     <!-- 关节状态发布节点 -->
    <node pkg="robot_state_publisher" type='robot_state_publisher' name='robot_state_publisher'/>
     <!-- 机器人状态发布节点 -->
    <node pkg="joint_state_publisher" type='joint_state_publisher' name='joint_state_publisher'/>
    <!-- 打开一个图形化控制界面,让摄像头转起来 -->
    <node pkg="joint_state_publisher_gui" type='joint_state_publisher_gui' name='joint_state_publisher_gui'/>
    
</launch>

